<link rel="stylesheet" href="~/css/repogit.css" />

<title>API GITHUB</title>
<h1>Buscar Repositorios no GitHub</h1>
<div class="row">
    <div style="margin-left: 15%">
        <input id="repo" value="" type="text">
        <button onclick="getApiGitHub()">Pesquisar</button>
    </div>
    <main class="content-main"></main>
</div>
<script src="~/js/repogitGet.js"></script>