*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

body{
    background-color: #0d1117;
    color: #fff;

}

h1{
    text-align: center;
    margin: 20px auto;
}

a{
    text-decoration: none;
    color: #8b949e;
}

.content-main{
    margin: 30px;
}

.content-main .project{
    border: 1px solid #30363d;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 6px;
    margin: 20px;
}

.content-main .project div{
    display: flex;
    justify-content: space-between;
}

.content-main .project div .data-create{
    color: #8b949e;
    border: 1px solid #8b949e;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 0.9rem;
}

.content-main .project div .title{
    color: #47a6f0;
}

.content-main .project .language .circle{
    background-color: #47a6f0;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border: 1px solid #30363d;
    border-radius: 50%;
}


input {
    margin-left: 30%;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 50px;
    font-weight: 700;
}

button {
    width: 20%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background: #30363d;
    cursor: pointer;
    font-weight: 700;
}

